{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Sebastian Gomes</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% block template %}
        {% endblock template %}
    </div>
    {% include 'footer.html' %}
</body>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="https://kit.fontawesome.com/91ef807f1e.js" crossorigin="anonymous"></script>

</html>