{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Sebastian Gomes</title>
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.bxslider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
</head>

<body style="padding-top: 60px;">
    {% include 'navbar.html' %}
    <div class="container">
        {% block template %}
        {% endblock template %}
    </div>
    {% include 'footer.html' %}
</body>
<script defer src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script defer src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<script defer src="https://kit.fontawesome.com/91ef807f1e.js" crossorigin="anonymous"></script>
<script defer src="{% static 'js/base.js' %}"></script>

</html>