<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top px-3">
    <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">© 2024 Sebastian Gomes</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li><a href="#" class="fa fa-brands fa-linkedin-in nav-social-buttons bg-secondary" title="Linked in"></a>
        </li>
        <li><a href="#" class="fa fa-brands fa-github nav-social-buttons bg-secondary" title="GitHub"></a></li>
        <li><a href="#" class="fa fa-brands fa-bitbucket nav-social-buttons bg-secondary" title="Bitbucket"></a>
        </li>
        <li><a href="#" class="fa fa-brands fa-google-scholar nav-social-buttons bg-secondary"
                title="Google Scholar"></a></li>
    </ul>
</footer>