<footer class="d-flex flex-wrap row align-items-center py-3 my-4 border-top px-3 mx-0">
    <div class="col-md-4 p-0 text-center text-md-start">
        <p class="m-0 text-muted">© 2024 Sebastian Gomes</p>
    </div>
    <div class="col-md-4 p-0 text-center">
        <p class="m-0 text-muted">Thanks for stopping by <i class="ms-2 text-secondary fa-solid fa-mug-hot"></i></p>
    </div>
    <div class="col-md-4 p-0 text-center text-md-end">
        <a href="#" class="fa fa-solid fa-up-long nav-social-buttons bg-secondary text-light"
            style="height: 35px; width: 35px;font-size: 1.2rem;" title="Go to the Top"></a>
    </div>
</footer>