<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom fixed-top">
        <div class="container-fluid px-3">
            <a class="navbar-brand" href="#">Sebastian Gomes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#skill">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#education">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#publication">Publications</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/#contact">Contact</a>
                    </li> -->
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li><a href="mailto:sgomes.cs@gmail.com"
                            class="fa fa-regular fa-envelope nav-social-buttons bg-secondary text-light"
                            title="Email"></a>
                    </li>
                    <li><a href="https://linkedin.com/in/sebastian-romy"
                            class="fa fa-brands fa-linkedin-in nav-social-buttons bg-secondary text-light"
                            title="Linked in" target="_blank"></a>
                    </li>
                    <li><a href="https://github.com/romy47"
                            class="fa fa-brands fa-github nav-social-buttons bg-secondary text-light" title="GitHub"
                            target="_blank"></a>
                    </li>
                    <li><a href="https://bitbucket.org/romy6047"
                            class="fa fa-brands fa-bitbucket nav-social-buttons bg-secondary text-light"
                            title="Bitbucket" target="_blank"></a>
                    </li>
                    <li><a href="https://scholar.google.com/citations?user=QMSg8nsAAAAJ&hl=en"
                            class="fa fa-brands fa-google-scholar nav-social-buttons bg-secondary text-light"
                            title="Google Scholar" target="_blank"></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>