# Create a files in this directory named as '.env' following this example. 
# Copy example code from this file into your own file and fill in the values.
# Change the value of the 'IS_DEV' variable depending on whether you are in production mode or development mode.

SECRET_KEY='replace_this_key_with_a_secure_key'
IS_DEV='True'

# Development only
DEV_DB_NAME='my_db'
DEV_DB_USER='postgres'
DEV_DB_PASSWORD='my_db_password'
DEV_DB_HOST='postgresql'
DEV_DB_PORT='5432'
DEV_SUPERUSER_EMAIL='my_email@example.com'
DEV_SUPERUSER_USERNAME='my_username'
DEV_SUPERUSER_PASSWORD='my_superuser_password'

# Production only
PROD_DB_NAME='my_db'
PROD_DB_USER='postgres'
PROD_DB_PASSWORD='my_db_password'
PROD_DB_HOST='postgresql'
PROD_DB_PORT='5432'
PROD_SUPERUSER_EMAIL='my_email@example.com'
PROD_SUPERUSER_USERNAME='my_username'
PROD_SUPERUSER_PASSWORD='my_superuser_password'

PROD_ALLOWED_HOST='my_domain.com'
PROD_CERTBOT_EMAIL='my_email@example.com'