# Create a files in this directory named as '.env' following this example. 
# Copy example code from this file into your own file and fill in the values.

# !! !! !!     Important: Must change the value of the PROD_ALLOWED_HOST and PROD_CERTBOT_EMAIL !! !! !!

SECRET_KEY='jjkshskjdhllieifsljkdjiewulfkdjlfweuifljkdjsao;dipfoasdjlf'
IS_DEV='False'


DEV_DB_NAME='portfolio'
DEV_DB_USER='postgres'
DEV_DB_PASSWORD='postgres_password'
DEV_DB_HOST='postgresql'
DEV_DB_PORT='5432'
DEV_SUPERUSER_EMAIL='example1@example.com'
DEV_SUPERUSER_USERNAME='admin1'
DEV_SUPERUSER_PASSWORD='abc1231'


PROD_DB_NAME='portfolio'
PROD_DB_USER='postgres'
PROD_DB_PASSWORD='postgres_password'
PROD_DB_HOST='postgresql'
PROD_DB_PORT='5432'
PROD_SUPERUSER_EMAIL='example1@example.com'
PROD_SUPERUSER_USERNAME='admin'
PROD_SUPERUSER_PASSWORD='abc123'

# Change these two values with your domain and your email address
PROD_ALLOWED_HOST='example_domain.com'
PROD_CERTBOT_EMAIL='example1@example.com'