{% extends 'base.html' %}
{% block template %}
<div class="row mt-5">
    <div class="col-md-6 d-flex flex-column align-items-center">
        <img class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image" width="140" height="140">
        <h2 class="mt-3">Sebastian Gomes</h2>
        <p class="my-1">Application Developer and Visualization Enthusuaist</p>
        <p class="my-1">Saskatoon, Canada</p>
    </div>
    <div class="col-md-6 card border-0">
        <div class="card-body">
            <h4 class="card-title border-bottom-1 mb-3">About Me</h4>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
            <p class="card-text">It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.</p>
        </div>
    </div>
</div>
<br><br>
<h3 class="mt-5">Skills</h3>
<div class="row">
    <div class="col-md-4 p-3">
        <div class="card bg-secondary-subtle border-0">
            <div class="card-body pb-0">
                <i class="fas fa-database fa-2x pb-4"></i>
                <div class="d-flex justify-content-between">
                    <p class="mb-0 h5">Database</p>
                    <p class="mb-0 hour">12:15 PM</p>
                </div>
            </div>
            <hr>
            <div class="card-body pt-0 d-flex">
                <i class="fa-solid fa-server me-2 mt-1"></i>
                <div>
                    <h6 class="font-weight-bold mb-1"></i>Mongo DB</h6>
                    <p class="mb-0">5 Projects, 3 Work Experiences</p>
                </div>
            </div>
            <div class="card-body pt-0 d-flex">
                <i class="fa-brands fa-bitcoin me-2 mt-1"></i>
                <div>
                    <h6 class="font-weight-bold mb-1"></i>PostGres SQL</h6>
                    <p class="mb-0">5 Projects, 3 Work Experiences</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 p-3">
        <div class="card bg-secondary-subtle border-0">
            <div class="card-body pb-0">
                <i class="fas fa-database fa-2x pb-4"></i>
                <div class="d-flex justify-content-between">
                    <p class="mb-0 h5">Database</p>
                    <p class="mb-0 hour">12:15 PM</p>
                </div>
            </div>
            <hr>
            <div class="card-body pt-0 d-flex">
                <i class="fa-solid fa-server me-2 mt-1"></i>
                <div>
                    <h6 class="font-weight-bold mb-1"></i>Mongo DB</h6>
                    <p class="mb-0">5 Projects, 3 Work Experiences</p>
                </div>
            </div>
            <div class="card-body pt-0 d-flex">
                <i class="fa-brands fa-bitcoin me-2 mt-1"></i>
                <div>
                    <h6 class="font-weight-bold mb-1"></i>PostGres SQL</h6>
                    <p class="mb-0">5 Projects, 3 Work Experiences</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 p-3">
        <div class="card bg-secondary-subtle border-0">
            <div class="card-body pb-0">
                <i class="fas fa-database fa-2x pb-4"></i>
                <div class="d-flex justify-content-between">
                    <p class="mb-0 h5">Database</p>
                    <p class="mb-0 hour">12:15 PM</p>
                </div>
            </div>
            <hr>
            <div class="card-body pt-0 d-flex">
                <i class="fa-solid fa-server me-2 mt-1"></i>
                <div>
                    <h6 class="font-weight-bold mb-1"></i>Mongo DB</h6>
                    <p class="mb-0">5 Projects, 3 Work Experiences</p>
                </div>
            </div>
            <div class="card-body pt-0 d-flex">
                <i class="fa-brands fa-bitcoin me-2 mt-1"></i>
                <div>
                    <h6 class="font-weight-bold mb-1"></i>PostGres SQL</h6>
                    <p class="mb-0">5 Projects, 3 Work Experiences</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 p-3">
        <div class="card bg-secondary-subtle border-0">
            <div class="card-body pb-0">
                <i class="fas fa-database fa-2x pb-4"></i>
                <div class="d-flex justify-content-between">
                    <p class="mb-0 h5">Database</p>
                    <p class="mb-0 hour">12:15 PM</p>
                </div>
            </div>
            <hr>
            <div class="card-body pt-0 d-flex">
                <i class="fa-solid fa-server me-2 mt-1"></i>
                <div>
                    <h6 class="font-weight-bold mb-1"></i>Mongo DB</h6>
                    <p class="mb-0">5 Projects, 3 Work Experiences</p>
                </div>
            </div>
            <div class="card-body pt-0 d-flex">
                <i class="fa-brands fa-bitcoin me-2 mt-1"></i>
                <div>
                    <h6 class="font-weight-bold mb-1"></i>PostGres SQL</h6>
                    <p class="mb-0">5 Projects, 3 Work Experiences</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>
<h3 class="mt-5">Projects</h3>
<div class="row">
    <div class="col-md-4 p-3">
        <div class="card bg-secondary-subtle border-0">
            <div style="background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='); width: 100%; height: 250px;"
                class="card-img-top"></div>
            <div class="card-img-overlay text-light d-flex flex-column justify-content-between" style="height: 250px;">
                <p class="h3 card-title fw-bold mt-2 ms-2">Project Title</p>
                <div>
                    <p class="card-text mt-2 ms-2">A short summary of what this project is about and how it was built
                    </p>
                    <span class="badge badge-light border"> Angular </span>
                    <span class="badge badge-light border"> Node.js </span>
                    <span class="badge badge-light border"> Mongo DB </span>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="mb-0 d-flex align-items-start"><i class="fa-regular fa-circle-check me-2 mt-1"></i>Used
                    Angular as frontend framework</p>
                <p class="mb-0 d-flex align-items-start"><i class="fa-regular fa-circle-check me-2 mt-1"></i>Node.js as
                    backend framework</p>
                <a href="#" class="btn btn-sm btn-outline-secondary mt-2 float-end">View Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 p-3">
        <div class="card bg-secondary-subtle border-0">
            <div style="background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='); width: 100%; height: 250px;"
                class="card-img-top"></div>
            <div class="card-img-overlay text-light d-flex flex-column justify-content-between" style="height: 250px;">
                <p class="h3 card-title fw-bold mt-2 ms-2">Project Title</p>
                <div>
                    <p class="card-text mt-2 ms-2">A short summary of what this project is about and how it was built
                    </p>
                    <span class="badge badge-light border"> Angular </span>
                    <span class="badge badge-light border"> Node.js </span>
                    <span class="badge badge-light border"> Mongo DB </span>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="mb-0 d-flex align-items-start"><i class="fa-regular fa-circle-check me-2 mt-1"></i>Used
                    Angular as frontend framework</p>
                <p class="mb-0 d-flex align-items-start"><i class="fa-regular fa-circle-check me-2 mt-1"></i>Node.js as
                    backend framework</p>
                <a href="#" class="btn btn-sm btn-outline-secondary mt-2 float-end">View Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 p-3">
        <div class="card bg-secondary-subtle border-0">
            <div style="background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='); width: 100%; height: 250px;"
                class="card-img-top"></div>
            <div class="card-img-overlay text-light d-flex flex-column justify-content-between" style="height: 250px;">
                <p class="h3 card-title fw-bold mt-2 ms-2">Project Title</p>
                <div>
                    <p class="card-text mt-2 ms-2">A short summary of what this project is about and how it was built
                    </p>
                    <span class="badge badge-light border"> Angular </span>
                    <span class="badge badge-light border"> Node.js </span>
                    <span class="badge badge-light border"> Mongo DB </span>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="mb-0 d-flex align-items-start"><i class="fa-regular fa-circle-check me-2 mt-1"></i>Used
                    Angular as frontend framework</p>
                <p class="mb-0 d-flex align-items-start"><i class="fa-regular fa-circle-check me-2 mt-1"></i>Node.js as
                    backend framework</p>
                <a href="#" class="btn btn-sm btn-outline-secondary mt-2 float-end">View Details</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 p-3">
        <div class="card bg-secondary-subtle border-0">
            <div style="background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='); width: 100%; height: 250px;"
                class="card-img-top"></div>
            <div class="card-img-overlay text-light d-flex flex-column justify-content-between" style="height: 250px;">
                <p class="h3 card-title fw-bold mt-2 ms-2">Project Title</p>
                <div>
                    <p class="card-text mt-2 ms-2">A short summary of what this project is about and how it was built
                    </p>
                    <span class="badge badge-light border"> Angular </span>
                    <span class="badge badge-light border"> Node.js </span>
                    <span class="badge badge-light border"> Mongo DB </span>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="mb-0 d-flex align-items-start"><i class="fa-regular fa-circle-check me-2 mt-1"></i>Used
                    Angular as frontend framework</p>
                <p class="mb-0 d-flex align-items-start"><i class="fa-regular fa-circle-check me-2 mt-1"></i>Node.js as
                    backend framework</p>
                <a href="#" class="btn btn-sm btn-outline-secondary mt-2 float-end">View Details</a>
            </div>
        </div>
    </div>
</div>

<br><br>
<h3 class="mt-5">Experiences</h3>
<div class="row">
    <div class="col-md-3 d-flex flex-column justify-content-between">
        <p class="display-1 text-opacity-50 fw-bold text-secondary">2019</p>
        <p class="display-1 text-opacity-50 fw-bold text-secondary">2017</p>
    </div>
    <div class="col-md-9 p-3">
        <div class="card bg-secondary-subtle border-0">
            <div class="card-body pb-1">
                <div class="d-flex justify-content-between mb-2">
                    <p class="mb-0 h3 fw-bold text-dark-emphasis">Junior Software Enginner</p>
                    <i class="fas fa-database fa-2x"></i>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="mb-0 h5 text-dark-emphasis">Astha IT Research and Consulancy Ltd.</p>
                    <p class="mb-0 hour">Sept 2017 - August 2019</p>
                </div>
            </div>
            <hr class="my-2">
            <div class="card-body pt-0 pb-1 d-flex justify-content-between align-items-center">
                <p class="mb-0"><i class="fa-regular fa-circle-check me-2"></i>Started carreer as a ASP.NET web
                    application developper</p>
                <div>
                    <a href="#" class="fa fa-brands circular-tag fa-linkedin-in bg-light text-dark"
                        title="Linked in"></a>
                    <a href="#" class="fa fa-brands circular-tag fa-github bg-light text-dark" title="GitHub"></a>
                    <a href="#" class="fa fa-brands circular-tag fa-bitbucket bg-light text-dark" title="Bitbucket"></a>
                </div>
            </div>
            <div class="card-body pt-0 pb-1 d-flex  justify-content-between align-items-center">
                <p class="mb-0"><i class="fa-regular fa-circle-check me-2"></i>Worked as a lead front developer for an
                    angular app.</p>
                <div>
                    <a href="#" class="fa fa-brands circular-tag fa-linkedin-in bg-light text-dark"
                        title="Linked in"></a>
                    <a href="#" class="fa fa-brands circular-tag fa-github bg-light text-dark" title="GitHub"></a>
                    <a href="#" class="fa fa-brands circular-tag fa-bitbucket bg-light text-dark" title="Bitbucket"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>
<h3 class="mt-5">Education</h3>
<div class="row">
    <div class="col-md-3 d-flex flex-column justify-content-between">
        <p class="display-1 text-opacity-50 fw-bold text-secondary">2022</p>
        <p class="display-1 text-opacity-50 fw-bold text-secondary">2019</p>
    </div>
    <div class="col-md-9 p-3">
        <div class="card bg-secondary-subtle border-0">
            <div class="card-body pb-1">
                <div class="d-flex justify-content-between mb-2">
                    <p class="mb-0 h3 fw-bold text-dark-emphasis">Master of Science</p>
                    <i class="fas fa-database fa-2x"></i>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="mb-0 h5 text-dark-emphasis">University of Regina</p>
                    <p class="mb-0 hour">2019 - 2022</p>
                </div>
            </div>
            <hr class="my-2">
            <div class="card-body pt-0 pb-1 d-flex justify-content-between align-items-center">
                <p class="mb-0"><i class="fa-regular fa-circle-check me-2"></i>Built a digital library interface with
                    MEAN stack</p>
                <div>
                    <a href="#" class="fa fa-brands circular-tag fa-linkedin-in bg-light text-dark"
                        title="Linked in"></a>
                    <a href="#" class="fa fa-brands circular-tag fa-github bg-light text-dark" title="GitHub"></a>
                    <a href="#" class="fa fa-brands circular-tag fa-bitbucket bg-light text-dark" title="Bitbucket"></a>
                </div>
            </div>
            <div class="card-body pt-0 pb-1 d-flex  justify-content-between align-items-center">
                <p class="mb-0"><i class="fa-regular fa-circle-check me-2"></i>Researched on Interactive Information
                    Visualization</p>
                <div>
                    <a href="#" class="fa fa-brands circular-tag fa-linkedin-in bg-light text-dark"
                        title="Linked in"></a>
                    <a href="#" class="fa fa-brands circular-tag fa-github bg-light text-dark" title="GitHub"></a>
                    <a href="#" class="fa fa-brands circular-tag fa-bitbucket bg-light text-dark" title="Bitbucket"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock template%}