/* COMMON STARTS    ********************************       */
html {
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

.container {
    min-height: calc(100vh - 175px);
}

.bg-overlay {
    /*     background: rgba(0, 0, 0, .5); */
    background: linear-gradient(to bottom,
            rgb(0 0 0 / 0%) 0%,
            rgb(0 0 0 / 70%) 70%,
            rgb(0 0 0 / 80%) 100%);
}

/* COMMON ENDS      ********************************       */



/*  Home Starts    *******************************        */
.circular-tag {
    padding: 4px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin: 3px 2px;
    border-radius: 50%;
}

.year-divider {
    border-right: 1px solid #DEE2E6;
    width: 26%;
}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    /* padding: 0 30px; */
}

/*  Home Ends    *******************************        */



/* Header   STARTS   ********************************       */

.nav-social-buttons {
    padding: 8px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.nav-social-buttons.fa-bitbucket {
    background: #2684FF;
    color: white;
}

.nav-social-buttons.fa-github {
    background: #000;
    color: white;
}

.nav-social-buttons.fa-linkedin-in {
    background: #0A66C2;
    color: white;
}

.nav-social-buttons.fa-google-scholar {
    background: #78A5CE;
    color: white;
}

/* Header ENDS    ********************************       */